.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color-black, .8);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;

	.popup__content {
		@include absCenter;
		width: 85%;
		height: 85%;
		background: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, .2);
		border-radius: 3px;
		display: table;
		// overflow: hidden;
		opacity: 0;
		transform: translate(-50%, -50%)scale(.5);
		transition: all .4s .2s;
		display: flex;

		@include respond(tab-port) {
			width: 95%;
			// height: 90%;
		}

		img {
			display: block;
			width: 13%;
		}

		.popup__left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			width: 33.3333%;
			background: linear-gradient(to left bottom, $color-primary-light-op, $color-primary-dark);
			@include respond(tab-port) {
				width: 0;
			}

			img {
				display: block;
				width: 57%;
				padding: .2rem;
				margin: .2rem;
				margin-left: -5rem;
				border-bottom-right-radius: 1.2rem;
				border-top-left-radius: 1.2rem;
				border: 3px solid $color-white;
				@include respond(tab-port) {
					display: none;
				}
			}
		}

		.popup__right {
			width: 100%;
			display: table-cell;
			vertical-align: middle;
			padding: 3rem 5rem;
			display: flex;
			flex-direction: column;
		}

		.popup__message {
			font-size: 1.5rem;
			margin-bottom: 2rem;

			-moz-hyphens: auto;
			-ms-hyphens: auto;
			-webkit-hyphens: auto;
			hyphens: auto;
			@include respond (tab-port) {
				font-size: 2rem;
			}
		}
	}

	//OPEN STATE
	&:target {
		opacity: 1;
		visibility: visible;
	}

	&:target .popup__content {
		opacity: 1;
		transform: translate(-50%, -50%)scale(1);
	}

	.popup__close {
		&:link,
		&:visited {
			color: color-grey-dark;
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			font-size: 3rem;
			text-decoration: none;
			display: inline-block;
			transition: all .2s;
			line-height: 1;
		}

		&:hover {
			color: $color-primary;
		}
	}
}

// .starClass img {
// 	width: 5%;
// }

.allstarImages {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}
